DATABASE_URL=postgresql://postgres:password@db.example.com:5432/railway
DATABASE_SSL=true
DATABASE_SSL_REJECT_UNAUTHORIZED=false

SMTP_HOST=smtp.qq.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-qq-mail@example.com
SMTP_PASS=your-smtp-app-password
SMTP_FROM=your-qq-mail@example.com
